@charset "UTF-8";
/*
   # Auteur Michael Dufresne
   # Description : Introduction à Sass
*/
/*
   # Index
   # Variable
   # Layout
   # Menu
   # Style
*/
/*
   # Variable
*/
/*---------variable couleurs----------*/
/*---------css global----------*/
body {
  width: 100vw;
  min-height: 100vh;
}

header, nav, main, footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  background-color: #612424;
}

.header-block {
  display: none;
}

.ul-opacity {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-hidden {
  overflow: hidden;
}

.nav-height {
  height: 100vh;
}

main section:first-child, header section {
  margin: 0 2vw;
}

nav {
  background-color: black;
}

main {
  background-color: #ab4040;
}

footer {
  background-color: #612424;
}

.global {
  width: 95%;
}

/*---------MEDIA QUERIES----------*/
@media screen and (min-width: 600px) {
  .global {
    width: 85%;
  }
}

/*---------section menu----------*/
nav ul {
  list-style: none;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav li {
  display: inline-block;
  margin: 1vh 2vw;
  font-size: 24px;
}

nav a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.container {
  max-height: 8vh;
  display: inline-block;
  margin: 0 10vw 0 5vw;
  cursor: pointer;
}

.container .bar1, .container .bar2, .container .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*---------MEDIA QUERIES ----------*/
@media screen and (min-width: 600px) {
  nav {
    text-align: center;
    padding-left: 0;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    display: block;
  }
  nav a {
    font-size: 20px;
  }
  .global {
    width: 100%;
    margin: 0 0;
  }
  .container {
    display: none;
  }
}

/*---------section footer----------*/
section {
  text-align: center;
}

section ul {
  padding: 0;
}

section li {
  font-size: 16px;
  list-style: none;
}

/*---------MEDIA QUERIES----------*/
@media screen and (min-width: 600px) {
  footer section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer section ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

/*---------MEDIA QUERIES----------*/
@media screen and (min-width: 768px) {
  main section:first-child {
    font-size: 20px;
  }
  footer section {
    height: 25vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer section ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
  footer section li {
    font-size: 22px;
  }
}
/*# sourceMappingURL=style.css.map */