.animationFade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

%child-grid {
  display: grid;
  width: 100%;
  height: 100%;
}
 
  .animationOpacity{
    animation: menuOpacite 2s;
  }
  .animationSection{
    animation: fadeIn 2s forwards;
  }
  @keyframes fadeIn{
    from{
      opacity: 0;
    }
    to{
      opacity:1;
    }
  }
