/*---------section footer----------*/
section{
    text-align: center;
    ul{
        padding: 0;
    }
    li{
        font-size: 16px;
        list-style: none;
    }
}
/*---------MEDIA QUERIES----------*/
@media screen and (min-width:600px){
    footer section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        ul{
            flex: 1 1 50%;
        }
    }
}
/*---------MEDIA QUERIES----------*/
@media screen and (min-width:768px){
    main section:first-child{
        font-size: 20px;
    }
    footer section{
        height: 25vh;
        align-items: center;
        ul{
            flex: 1 1 25%;
        }
        li{
            font-size: 22px;
        }
    }
}