

/*---------section footer----------*/
footer {
    font-family: $font1;
    padding: 1em 0;
    text-align: center;
    color: $couleur_blanche;

    h3 {
        text-transform: uppercase;
    }

    div.social {
        display: flex;
        justify-content: center;

        a {
            background-color: lighten($couleur_rouge,20%);
            width: 45px;
            height: 45px;
            border-radius: 50%;       
            margin: 0 .2em;
        }

        .fa-facebook-f, .fa-twitter {
            font-size: 1.5em;
            padding-top: 11px;
            color: $couleur_blanche;
        }
    }

    div.navigation {
        ul {
            list-style: none;
            padding: 0;
            
            li {
            display: inline-block;
            margin: 0 .5em;
            }
            li a {
                text-decoration: none;
                color: $couleur_blanche;
            }
        }
    }

    p.copyright {
        font-size: .8em;
    }
}


/*---------MEDIA QUERIES----------*/
@media screen and (min-width:600px){
   
}
/*---------MEDIA QUERIES----------*/
@media screen and (min-width:768px){
    footer {    
        div.social {
            a {           
                width: 65px;
                height: 65px;
            }

            .fa-facebook-f, .fa-twitter {
                font-size: 2em;           
                padding-top: 16px;
            }
        }
    }
}