/*---------variable couleurs----------*/
$couleur_rouge: rgb(97, 36, 36);
$couleur_noire: #000;
$couleur_blanche: rgb(223, 223, 223);
$couleur_gris: #333333;
$couleur_blue:#4d4dff;

$c_cours1: #805555;
$c_cours2: #FF5E5E;
$c_cours3: #FFABAB;
$c_cours4: #612424;
$c_cours5: #CC8989;


