/*!
Auteur: Eddy Martin
Description: Gabarit de base permettant d'explorer Sass et différents techniques CSS
Version: 1.0.0
License: GNU General Public License v2 or later

*/

/*--------------------------------------------------------------
>>> LISTE DES FICHIERS SCSS IMPORTÉS 
----------------------------------------------------------------
# Variables
# Typography
# Extend
# Mixins
# Layout
# Elements
# Navigation
# Entete
# Pied-page


----------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "_variables.scss";

/*----------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "_typography.scss";

/*--------------------------------------------------------------
# Extend
----------------------------------------------------------------*/
@import "_extend.scss";

/*--------------------------------------------------------------
# Mixins
----------------------------------------------------------------*/
@import "_mixins.scss";

/* ------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "_layout.scss";

/* ------------------------------------------------------------
# Elements
--------------------------------------------------------------*/ 
@import "_elements.scss";

/* ------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "_navigation.scss";

/*--------------------------------------------------------------
# Entete 
----------------------------------------------------------------*/
@import "_entete.scss";

/*--------------------------------------------------------------
# Pied-page 
----------------------------------------------------------------*/
 @import "_pied-page.scss";
/*--------------------------------------------------------------*/




